{% extends "app/layout.html" %}

{% block content %}


<ul>
 <li><a href ="https://www.remedium.ru/news/" target="_blank"> <img style="max-width: 200px;margin-top: 10px" src="https://www.remedium.ru/bitrix/templates/media_default/assets/images/Remedium-logo-2019-MAIN.webp" alt="logo1"/></a></li>
 <li><a href ="https://www.who.int/ru" target="_blank"> <img style="max-width: 200px;margin-top: 10px"src="https://www.pikpng.com/pngl/b/379-3794936_who-logo-world-health-organization-who-world-health.png" alt="logo1"/></a></li>
 <li><a href ="https://minzdrav.gov.ru/" target="_blank"> <img style="max-width: 200px;margin-top: 10px"src="https://static-0.minzdrav.gov.ru/assets/logo-8000a34c69edfce638ef5489856b5267e3c9f30da2a11110432af45d8b856dde.png" alt="logo1"/></a></li>
</ul>

{% endblock %}
